.root {
    main-color: rgb(237, 255, 242);       /* JavaFX looked-up color */
    background-color: main-color; /* standard */
    -fx-background-color: main-color;     /* JavaFX */
}

.text-field {
    background-color: #d9ffe2; /* standard */
    -fx-background-color: #d9ffe2; /* JavaFX */
    font: 20px "Arial"; /* standard */
    -fx-font: 20px "Arial"; /* JavaFX */
}

.button {
    background-color: mediumspringgreen; /* standard */
    -fx-background-color: mediumspringgreen; /* JavaFX */
    font: italic bold 16px "Arial"; /* standard */
    -fx-font: italic bold 16px "Arial"; /* JavaFX */
}

.button:hover {
    background-color: cyan; /* standard */
    -fx-background-color: cyan; /* JavaFX */
    font-size: 18px; /* standard */
    -fx-font-size: 18px; /* JavaFX */
}

.button:pressed {
    background-color: orange; /* standard */
    -fx-background-color: orange; /* JavaFX */
    font-size: 20px; /* standard */
    -fx-font-size: 20px; /* JavaFX */
}

.scroll-pane,
.scroll-pane .viewport {
    background-color: transparent; /* standard */
    -fx-background-color: transparent; /* JavaFX */
}

.scroll-bar {
    font-size: 10px;  /* standard: visual width of scroll bar track */
    -fx-font-size: 10px;  /* JavaFX */
    background-color: rgb(237, 255, 242); /* standard */
    -fx-background-color: main-color; /* JavaFX looked-up color */
}

.scroll-bar .thumb {
    background-color: #ff9cb4; /* standard */
    -fx-background-color: #ff9cb4; /* JavaFX */
    border-radius: 1em; /* standard */
    -fx-background-radius: 1em; /* JavaFX */
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    opacity: 0; /* standard */
    -fx-opacity: 0; /* JavaFX */
}

